altair==5.5.0
attrs==25.3.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
ddt==1.7.2
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
Jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
narwhals==2.10.0
numpy==2.3.4
packaging==25.0
pandas==2.3.1
pillow==12.0.0
ply==3.11
protobuf==6.33.1
pyarrow==20.0.0
pycparser==2.23
pydeck==0.9.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.5
rich==14.1.0
rpds-py==0.25.0
six==1.17.0
smmap==6.0.0
streamlit==1.51.0
tenacity==9.1.2
toml==0.10.2
toolz==1.0.0
tornado==6.5.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
